.about {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__subContainer {
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;

}

.about__icon {
    color: white;
}

.about__text > h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
}

.about__text {
    max-width: 400px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about__text > p {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    color: lightgrey;
}

.about__image {
    object-fit: contain;
    border-radius: 10px;
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;
}

.about__text > h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.about__contact {
    display: flex;
    justify-content: space-evenly;
}

.about__contact > a {
    color: inherit;
}

.about__contact > a:hover {
    color: gray;
}

