.carouselContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselContainer__iam {
    color: rgb(184, 184, 184);
    text-shadow: 0 3px 3px black;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.carouselContainer__title {
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Miriam Libre', sans-serif;
}

.carouselContainer__dots {
    display: flex;
    justify-content: center;
    color: white;
}