.carouselContainer {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://i.imgur.com/oo8dpdS.jpg) fixed no-repeat center;
    background-size: cover;
    box-shadow: 0 3px 3px black;
}

.carouselContainer__iam {
    color: white;
    text-shadow: 0 3px 3px black;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.carouselContainer__title {
    color: white;
    text-shadow: 0 3px 3px black;
    text-align: center;
    font-size: 60px;
    font-family: 'Miriam Libre', sans-serif;
}

.carouselContainer__dots {
    display: flex;
    justify-content: center;
    color: white;
}