.carouselContainer {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 150px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://i.imgur.com/4QPNi0G.jpg) fixed no-repeat;
    background-size: cover;
    box-shadow: 0 3px 3px black;
}

.carouselContainer__iam {
    color: white;
    text-shadow: 0 3px 3px black;
    text-align: center;
    font-size: 40px;
    margin: 50px;
}

.carouselContainer__title {
    color: white;
    text-shadow: 0 3px 3px black;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Miriam Libre', sans-serif;
}

.carouselContainer__dots {
    display: flex;
    justify-content: center;
    color: white;
}
