.modal {
    display: flex;
    justify-content: center;
}

.modal__modal {
    margin: 0 auto;
}

.modal > button:focus {
    outline: none;
}

.modal__image {
    width: 100%;
    object-fit: contain;
}

.modal__textImage {
    width: 100%;
}

.modal__btn {
    width: 300px;
    padding: 0 !important;
    border: none !important;
    background: none !important;
    cursor: pointer;
}

.modal__linkIconContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
}

.modal__linkIconContainer > a {
    color: inherit;
}

.modal__linkIcon:hover {
    color: black;
}