.portfolio {
    margin: 40px;
}

.portfolio > h1 {
    color: white;
    text-align: center;
    padding: 50px;
}

.portfolio__project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.portfolio__projectWrapper {
    width: 375px;
    margin: 20px;
}