.portfolio {
    padding-top:30px;
    padding-bottom: 70px;
}

.portfolio_header {
    color: white;
    padding-bottom: 80px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0 3px 3px black;
}

.portfolio__project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--colorTwo);
    box-shadow: 0 3px 3px black;
}

.portfolio__projectWrapper {
    width: 375px;
    margin: 0 auto;
}